In [2]:
import pandas as pd

In [4]:
btc_usd = pd.read_csv('BTC-USD.csv')
eth_usd = pd.read_csv('ETH-USD.csv')
ada_usd = pd.read_csv('ADA-USD.csv')
doge_usd = pd.read_csv('DOGE-USD-2.csv')
sol1_usd = pd.read_csv('SOL1-USD.csv')
xrp_usd = pd.read_csv('XRP-USD.csv')

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...,...
2678,2022-01-16,43172.039063,43436.808594,42691.023438,43113.878906,43113.878906,17902097845
2679,2022-01-17,43118.121094,43179.390625,41680.320313,42250.550781,42250.550781,21690904261
2680,2022-01-18,42250.074219,42534.402344,41392.214844,42375.632813,42375.632813,22417209227
2681,2022-01-19,42374.039063,42478.304688,41242.914063,41744.328125,41744.328125,23091543258
2682,2022-01-20,41736.527344,42194.152344,41724.464844,41991.765625,41991.765625,16802518016